<div class="container-fluid">
  <h1 class="text-center py-3">Monitoring</h1>

  <div class="row justify-content-center m-5">
    <div class="col-11"><b>Client connected : </b>{{nbrClientConnected}}</div>
  </div>

  <div class="row justify-content-center">
    <table class="table table-striped col-10 table-hover">
      <thead>
      <tr>
        <th style="width: 20%">#</th>
        <th style="width: 20%">Shoulder sensor</th>
        <th style="width: 20%">Elbow sensor</th>
        <th style="width: 20%">Wrist sensor</th>
        <th style="width: 20%">Sword sensor</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <th class="align-middle">Frequency</th>
        <td>
          {{DataShoulderSensor?.rate}}
        </td>
        <td>
          {{DataElbowSensor?.rate}}
        </td>
        <td>
          {{DataWristSensor?.rate}}
        </td>
        <td>
          {{DataSwordSensor?.rate}}
        </td>
      </tr>

      <tr>
        <th class="align-middle">Timestamp</th>
        <td>{{DataShoulderSensor?.timestamp}}</td>
        <td>{{DataElbowSensor?.timestamp}}</td>
        <td>{{DataWristSensor?.timestamp}}</td>
        <td>{{DataSwordSensor?.timestamp}}</td>
      </tr>

      <tr>
        <th class="align-middle">Accelerometer</th>
        <td>
          X : {{DataShoulderSensor?.accel.x}}<br>
          Y : {{DataShoulderSensor?.accel.y}}<br>
          Z : {{DataShoulderSensor?.accel.z}}
        </td>
        <td>
          X : {{DataElbowSensor?.accel.x}}<br>
          Y : {{DataElbowSensor?.accel.y}}<br>
          Z : {{DataElbowSensor?.accel.z}}
        </td>
        <td>
          X : {{DataWristSensor?.accel.x}}<br>
          Y : {{DataWristSensor?.accel.y}}<br>
          Z : {{DataWristSensor?.accel.z}}
        </td>
        <td>
          X : {{DataSwordSensor?.accel.x}}<br>
          Y : {{DataSwordSensor?.accel.y}}<br>
          Z : {{DataSwordSensor?.accel.z}}
        </td>
      </tr>

      <tr>
        <th class="align-middle">Gyroscope :</th>
        <td>
          X : {{DataShoulderSensor?.gyro.x}}<br>
          Y : {{DataShoulderSensor?.gyro.y}}<br>
          Z : {{DataShoulderSensor?.gyro.z}}
        </td>
        <td>
          X : {{DataElbowSensor?.gyro.x}}<br>
          Y : {{DataElbowSensor?.gyro.y}}<br>
          Z : {{DataElbowSensor?.gyro.z}}
        </td>
        <td>
          X : {{DataWristSensor?.gyro.x}}<br>
          Y : {{DataWristSensor?.gyro.y}}<br>
          Z : {{DataWristSensor?.gyro.z}}
        </td>
        <td>
          X : {{DataSwordSensor?.gyro.x}}<br>
          Y : {{DataSwordSensor?.gyro.y}}<br>
          Z : {{DataSwordSensor?.gyro.z}}
        </td>
      </tr>

      <tr>
        <th class="align-middle">Compass</th>
        <td>
          X : {{DataShoulderSensor?.compass.x}}<br>
          Y : {{DataShoulderSensor?.compass.y}}<br>
          Z : {{DataShoulderSensor?.compass.z}}
        </td>
        <td>
          X : {{DataElbowSensor?.compass.x}}<br>
          Y : {{DataElbowSensor?.compass.y}}<br>
          Z : {{DataElbowSensor?.compass.z}}
        </td>
        <td>
          X : {{DataWristSensor?.compass.x}}<br>
          Y : {{DataWristSensor?.compass.y}}<br>
          Z : {{DataWristSensor?.compass.z}}
        </td>
        <td>
          X : {{DataSwordSensor?.compass.x}}<br>
          Y : {{DataSwordSensor?.compass.y}}<br>
          Z : {{DataSwordSensor?.compass.z}}
        </td>
      </tr>

      <tr>
        <th class="align-middle">Fusion pose</th>
        <td>
          X : {{DataShoulderSensor?.fusionPose.x}}<br>
          Y : {{DataShoulderSensor?.fusionPose.y}}<br>
          Z : {{DataShoulderSensor?.fusionPose.z}}
        </td>
        <td>
          X : {{DataElbowSensor?.fusionPose.x}}<br>
          Y : {{DataElbowSensor?.fusionPose.y}}<br>
          Z : {{DataElbowSensor?.fusionPose.z}}
        </td>
        <td>
          X : {{DataWristSensor?.fusionPose.x}}<br>
          Y : {{DataWristSensor?.fusionPose.y}}<br>
          Z : {{DataWristSensor?.fusionPose.z}}
        </td>
        <td>
          X : {{DataSwordSensor?.fusionPose.x}}<br>
          Y : {{DataSwordSensor?.fusionPose.y}}<br>
          Z : {{DataSwordSensor?.fusionPose.z}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
